<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Editor.Properties.Settings.ComicsGuessTestConnectionString"
            connectionString="data source=&quot;F:\My Documents\ComicsGuessTest.db&quot;"
            providerName="System.Data.SQLite" />
    </connectionStrings>
</configuration>