<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Editor.Properties.Settings.ComicsGuessTestConnectionString" connectionString="data source=&quot;F:\My Documents\ComicsGuessTest.db&quot;" providerName="System.Data.SQLite"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
